
.fav-star {
    color:yellow;
    font-size: 1.5rem;
}

.bookmark {
    color: aqua;
    font-size: 1.5rem;
}

.icon-wrap{
    margin-top: 3px;
    margin-right: 1rem;
    float:left;
    position: relative;
    display: inline;
  }
.fill{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.list__container {
    display: inline-block;
}


.hero {
    padding: 1rem 4rem;
    text-align: center;

    &__title {
        text-align: center;
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    &__search {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        margin-top: 1rem;
        &__input {
            border-radius: 5px;
            font-size: 1rem;
            border: none;
        }

        &__search {
            padding: 4px 12px;
            border-radius: 5px;
        }

        &__reset {
            padding: 4px 12px;
            border-radius: 5px;
        }
    }
    &__sortbooks {
        margin-top: 1rem;
        padding: 4px 12px;
        border-radius: 5px;
    }
    .title__bm {
        margin-top: 1rem;
    }
    &__bmlist {
        border: solid;
        border-color: aqua;
        &:empty {
            display: none;
        }
    }
    &__favlist {
        border: solid;
        border-color: yellow;
        &:empty {
            display: none;
        }
    }
    &__list {
        display: block;
        list-style-type: none;
        text-align: left;
        padding: 1rem;
        &__elem {
            display: inline-block;
            transition: color 200ms ease-in-out;
            font-size: 1.5rem;
            &:hover {
                cursor: pointer;
                color: $lightGrayishCyan
            }
            &__label {
                margin-right: 0.5rem;
            }
            &__text {
                margin-right: 0.5rem;
            }
            &__update {
                padding: 2px 6px;
                border-radius: 5px;
            }
            &__updatecontainer {
                display: inline-block;
                margin-left: 3rem;
                float:right;
            }
            &__textcontainer {
                max-width: 30vw;
                display: inline-block;
            }
            &__desc {
                width: 100%;
                display: block;
                margin-top: 0.5rem;
                background-color: $darkGrayishCyan;
                border: none;
                font-weight: $heavyWeight;
                color: $almostVeryDarkCyan;
                word-break:break-word;
            }
            &__remove {
                margin-right: 1rem;
                padding: 2px 6px;
                border-radius: 10px;
            }
        }


        &__container {
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }
    }

    &__addbook {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        &__input {
            border-radius: 5px;
            font-size: 1rem;
            border: none;
            margin-right: 8px;
        }

        &__button {
            padding: 4px 12px;
            border-radius: 5px;
        }
    }
    &__button {
        margin-top: 1rem;
        padding: 4px 12px;
        border-radius: 5px;
    }
}